@reference "../../globals.css";

.noise {
  position: absolute;
  inset: 0;
  pointer-events: none;
  mix-blend-mode: overlay;
  opacity: .20;
  background-size: 240px 240px;
  background-repeat: repeat;
  will-change: transform, opacity;
  transform: translateZ(0);
  background-image: url("data:image/svg+xml;utf8,\
<svg xmlns='http://www.w3.org/2000/svg' width='292' height='209'>\
  <defs>\
    <filter id='n'>\
      <feTurbulence type='fractalNoise' baseFrequency='0.8' numOctaves='1' stitchTiles='stitch'/>\
      <feColorMatrix type='saturate' values='0'/>\
      <feComponentTransfer>\
        <feFuncR type='table' tableValues='0 0 0 0 1 1'/>\
        <feFuncG type='table' tableValues='0 0 0 0 1 1'/>\
        <feFuncB type='table' tableValues='0 0 0 0 1 1'/>\
        <feFuncA type='table' tableValues='0 0 0 .9 1 1'/>\
      </feComponentTransfer>\
    </filter>\
  </defs>\
  <rect width='100%' height='100%' filter='url(%23n)' fill='white'/>\
</svg>");
}